<aside class="sidebar" *ngIf="sidebarVisible$ | async">
  <div class="links">
    <a mat-button [routerLink]="['/', userRole, 'orders']" routerLinkActive="active">
      <div class="insides">
        <mat-icon>receipt_long</mat-icon>
        Заявки
      </div>
    </a>
    <a mat-button [routerLink]="['/', userRole, 'transport']" routerLinkActive="active">
      <div class="insides">
        <mat-icon>local_shipping</mat-icon>
        Транспорт
      </div>
    </a>
  </div>

  <div>
    Роль: {{userRole}}<br>
    <button mat-button (click)="logOut()">
      <div class="button-insides">
        <mat-icon>logout</mat-icon>
        Выйти
      </div>
    </button>
  </div>

</aside>

<main>
  <router-outlet></router-outlet>
</main>
