<mat-form-field appearance="outline">
  <mat-label>Вид транспорта</mat-label>
  <mat-select [ngModel]="selectedTransportTypeId$ | async" (ngModelChange)="selectedTransportTypeId$.next($event)">
    <mat-option *ngFor="let type of (transportTypes$ | async); index as i" [value]="type.id">{{type.name}}</mat-option>
  </mat-select>
</mat-form-field>
&nbsp;
<mat-form-field appearance="outline">
  <mat-label>Дата</mat-label>
  <input matInput [matDatepicker]="datePicker" [(ngModel)]="calendarViewDate">
  <mat-hint>ДД.ММ.ГГГГ</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="$any(datePicker)"></mat-datepicker-toggle>
  <mat-datepicker #datePicker></mat-datepicker>
</mat-form-field>
<br><br>
<div class="overflowable">
  <mwl-calendar-week-view [viewDate]="calendarViewDate" [events]="(events$ | async) ?? []" [hourSegmentHeight]="15"></mwl-calendar-week-view>
</div>
