.form {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.button-insides {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.alert {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: rgba(255, 0, 0, 0.15);
  margin-bottom: 1rem;
  border: 1px rgba(0, 0, 0, 0.15) solid;
}
